# Files
*.o
*.elf
*.velf
*.bin
*.vpk
*.sfo
*.self
*.cbp


ctp_shortcut
.idea
vita3k.log
imgui.ini
.DS_Store

# CMake data
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cmake-build-debug
